.env
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# environment variables
.env
.env.*       # <--- bổ sung quan trọng để ignore mọi file biến môi trường

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
